* {
    font-family: 'PT Sans', sans-serif;
}

.spacer {
    min-height: 50px;
}

/* Kampanye */
.text-title {
    font-weight: 700;
    font-size: 3em;
    color: #1D1D1D;
    line-height: 90%;
}

.margin-share {
    margin-top: 4px;
}

.margin-top-style {
    margin-top: 4px;
}

.margin-top-up {
    margin-top: -2%;
}

.text-title-sub {
    font-weight: 700;
    font-size: 24px;
    color: #1D1D1D;
}

.text-sub-loc {
    font-weight: 400;
    font-size: 22px;
    color: #4F4F4F;
}

.text-sub-info {
    font-weight: 400;
    font-size: 18px;
    color: #1D1D1D;
}

.progress-bar-rounded {
    border-radius: 25px;
}

.progress-bar-color {
    background-color: #21C68C;
    border-radius: 25px;
}

.btn-style {
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px;
    width: 40% !important;
    margin-right: 20px;
    margin-left: 20px;
}

.btn-style-action {
    background-color: #3498DB;
    color: #FFF;
}

.btn-style-donation {
    background-color: #F53855;
    color: #FFF;
}

.card-style {
    background-color: #FFF;
    border: 5px solid #FFF;
    border-radius: 10px;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 0.25);
    padding: 4%;
}

.card-style a {
    color: #1F1F1F;
}

.card-style:hover,
.card-style a:hover {
    text-decoration: none;
}

.nav-tabs {
    border-bottom: 2px solid #005E4E;
}

.nav-tabs li a {
    font-weight: 700;
    font-size: 18px;
    color: #00806A;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus {
    color: #005E4E;
    border-top: none;
    border-right: none;
    border-bottom: 5px solid #005E4E;
    border-left: none;
}

.nav-tabs>li.active>a:hover {
    color: #005E4E;
    border-top: none;
    border-right: none;
    border-bottom: 5px solid #005E4E;
    border-left: none;
}

.text-list-nav {
    font-weight: 700;
    font-size: 18px;
    color: #00806A;
    margin-top: 10px;
}

.text-content-nav {
    font-weight: 400;
    font-size: 18px;
    /* color: #595959; */
}

.margin-top-style-nav {
    margin-top: 4%;
}

.btn-more-style {
    background-color: #F6F6F6;
    color: #000;
    border-radius: 25px;
    font-weight: 400;
    font-size: 18px;
    padding: 1% 4%;
}

.btn-more-style:hover,
.btn-more-style a:hover {
    opacity: 0.9;
    text-decoration: none;
}

.icon-style {
    color: #005E4E;
    background-color: #FFF;
}

.icon-style-inverse {
    color: #FFF;
    background-color: #005E4E;
}

.fa-chevron-circle-down {
    transition: all 0.2s ease;
}

.btn-more-style.collapsed .fa-chevron-circle-down {
    transform: rotate(180deg);
}

.text-nav-update {
    font-weight: 700;
    font-size: 18px;
    color: #000;
}

.text-nav-update-sub {
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.panel-donatur {
    background-color: #FFF;
    border: 1px solid #E5E7E9;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(138, 149, 158, 0.2);
    padding: 2%;
}

.panel-donatur:hover,
.panel-donatur a:hover {
    text-decoration: none;
}

.text-donatur {
    font-weight: 400;
    font-size: 16px;
    color: #5F5F5F;
}

.text-donatur-sub {
    font-weight: 700;
    font-size: 18px;
    color: #4D4545;
}

.panel-donatur-teratas {
    background-color: #005E4E;
    border: 1px solid #7D8000;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(138, 149, 158, 0.2);
    padding: 2%;
}

.panel-donatur-teratas:hover,
.panel-donatur-teratas a:hover {
    text-decoration: none;
}

.text-donatur-teratas {
    font-weight: 400;
    font-size: 16px;
    color: #FFF;
}

.text-donatur-teratas-sub {
    font-weight: 700;
    font-size: 18px;
    color: #FFF;
}

.chat-style {
    position: fixed;
    bottom: 2%;
    right: 1%;
    cursor: pointer;
}

.chat-style:hover {
    transform: scale(1.1);
}

.img-jumbo {
    margin-top: 1%;
}

.scroll-donatur {
    height: 390px;
    overflow-y: auto;
}

.margin-scroll-donatur {
    margin: 10px 10px 10px 0px;
}

.scroll-donatur::-webkit-scrollbar {
    width: 12px;
}

.scroll-donatur::-webkit-scrollbar-track {
    background: #F2F2F2;
}

.scroll-donatur::-webkit-scrollbar-thumb {
    background-color: #005E4E;
    border-radius: 10px;
    border: 2px solid #F2F2F2;
}

.img-donatur-teratas {
    display: block;
    margin-left: auto;
}

/* Kampanye Selesai */
.kampanye-selesai-box {
    background-color: #005E4E;
    border-radius: 10px;
    padding: 1% 10%;
    margin: 1% 1%;
}

.btn-style2 {
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px;
    width: 40% !important;
    margin-right: 20px;
    margin-left: 20px;
}

.btn-style-action2 {
    background: linear-gradient(258.1deg, #3498DB 13.15%, #A3CDE9 99.36%);
    color: #FFF;
    position: absolute;
    width: 600px;
    height: 50px;
    left: 40px;
    font-size: 18px;
}

.btn-style-donation2 {
    background: linear-gradient(256.05deg, #F53855 7.6%, #E4556B 45.77%, #EE94A2 88.13%);
    color: #FFF;
    position: relative;
    width: 600px;
    height: 50px;
    left: 250px;
    right: -70px;
    font-size: 18px;
}

.margin-top-up-done {
    margin-top: -2%;
}

.text-kampanye-selesai {
    font-weight: 700;
    font-size: 3em;
    color: #FFF;
}

.spacer-kampanye-selesai {
    min-height: 20px;
}

.pantau-title {
    font-weight: 400;
    font-size: 18px;
    color: #000;
}

.pantau-title-sub {
    font-weight: 700;
    font-size: 25px;
    color: #F53855;
}

.img-pantau {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 10px;
}

/* Admin */
.btn-style-admin {
    font-weight: bold;
    font-size: 24px;
    border-radius: 10px;
    width: 24% !important;
    margin-right: 1px;
    margin-left: 1px;
}

.btn-style-update {
    background-color: #005E4E;
    color: #FFF;
}

.btn-style-edit {
    background-color: #00806A;
    color: #FFF;
}

/* Admin Selesai*/
.text-kampanye-selesai-admin {
    font-weight: 700;
    font-size: 2.5em;
    color: #F53855;
    line-height: 80%;
}

.text-kampanye-selesai-admin-sub {
    font-weight: 700;
    font-size: 2.2em;
    color: #000;
}

/* Small Width */
@media only screen and (max-width: 768px) {
    .text-title {
        font-size: 2em !important;
    }

    .margin-top-title {
        margin-top: 20px;
    }

    .margin-share {
        margin-top: 25px;
    }

    .chat-style {
        display: none;
    }

    .btn-style {
        font-weight: bold;
        font-size: 18px;
        border-radius: 10px;
        width: 38% !important;
        margin-top: 10px;
    }

    .text-list-nav {
        margin-top: 10px;
    }

    .margin-donatur {
        margin-top: 10%;
    }

    /* Kampanye Selesai */
    .margin-top-up-done {
        margin-top: 10px;
    }

    .btn-style2 {
        font-weight: bold;
        font-size: 18px;
        border-radius: 10px;
        width: 38% !important;
        margin-top: 10px;
    }

    .text-kampanye-selesai {
        font-size: 2em !important;
    }

    .pantau-title {
        font-size: 14px;
    }
    
    .pantau-title-sub {
        font-size: 18px;
    }

    /* Admin */
    .btn-style-admin {
        font-weight: bold;
        font-size: 18px;
        border-radius: 10px;
        width: 40% !important;
        margin-top: 10px;
        margin-right: 14px;
        margin-left: 14px;
    }

    /* Admin Selesai*/

    .text-kampanye-selesai-admin {
        font-size: 1.5em;
    }

    .text-kampanye-selesai-admin-sub {
        font-size: 1.2em;
    }
}